body, input, button {
    font-family: Courier;
    font-size: 12px;
}
input [type = "text/ractive"] {
    font-family: Courier, monospace;
}
.token input {
    width:7em;
    padding: 2px;
    display: inline;
    font-size: 12px;
}

.comment {
    color: #9e9e9e;
}
.comments {
    margin-bottom: 20px;
}
.comment input {
    margin-left: 3em;
    width:25em;

}

.sentence {
    margin-top: 20px;
    display: block;
}

.tokens, .comments {
    display: block;
}

.tokens span {
    position: relative;
    min-width: 3em;
    color: #9e9e9e;
}

.token span {
    display: inline-block;
}


.token, .comment {
    display: block;
}

button {
    background-color: #9e9e9e;
    color: whitesmoke;
    font-size: 14px;
    padding: 7px 20px;
    border: none;
    margin: 30px;
}